body {
    background-color: black;
    color: powderblue;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    height: 100vh;
    padding: 20px;
}

.logo-container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: powderblue;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
